In [1]:
import pandas as pd
import numpy as np

In [32]:
cars_df=pd.read_csv("CarsData.csv")
cars_df.head()

,sno,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Using D-Tale

In [17]:
import dtale
cars_dt=dtale.show(cars_df)
cars_dt

http://DESKTOP-AC18MSF:40000/dtale/main/2
It looks like this data may have already been loaded to D-Tale based on shape and column names. Here is URL of the data that seems to match it:

None

If you still want to load this data please use the following command:

dtale.show(df, ignore_duplicate=True)

### Observations from D-Tale reporting are:

#### There are 25 columns of which 11 are numerical & 14 are cateogrical
#### There are 41 missing rows in normalized-losses, 2 missing rows in num_of_doors, 4 missing rows in bore, 4 missing rows in stroke, 2 missing rows in horsepower, 2 missing rows in peak_rpm, 4 missing rows in price
#### There are outliers in wheel-base, length, width, engine-size, compression-ratio, city-mpg, highway-mpg

##### * Handling missing value by replacing it with 0 as the missing data of normalized-losses is 20%, so can't replace missing data with mean/median/mode

In [33]:
cars_df.drop(columns='sno',inplace=True)
cars_df.replace(to_replace='?',value='0',inplace=True)

#### Handling Outliers

In [34]:
def remove_outlier(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR=Q3-Q1
    lower_range=Q1-(1.5*IQR)
    upper_range=Q3+(1.5*IQR)
    return lower_range,upper_range

In [36]:
low,high=remove_outlier(cars_df['wheel-base'])
cars_df['wheel-base']=np.where(cars_df['wheel-base']>high,high,cars_df['wheel-base'])
cars_df['wheel-base']=np.where(cars_df['wheel-base']<low,low,cars_df['wheel-base'])
cars_df['wheel-base']=cars_df['wheel-base'].astype('int64')
low,high=remove_outlier(cars_df['length'])
cars_df['length']=np.where(cars_df['length']>high,high,cars_df['length'])
cars_df['length']=np.where(cars_df['length']<low,low,cars_df['length'])
cars_df['length']=cars_df['length'].astype('int64')
low,high=remove_outlier(cars_df['width'])
cars_df['width']=np.where(cars_df['width']>high,high,cars_df['width'])
cars_df['width']=np.where(cars_df['width']<low,low,cars_df['width'])
cars_df['width']=cars_df['width'].astype('int64')
low,high=remove_outlier(cars_df['engine-size'])
cars_df['engine-size']=np.where(cars_df['engine-size']>high,high,cars_df['engine-size'])
cars_df['engine-size']=np.where(cars_df['engine-size']<low,low,cars_df['engine-size'])
cars_df['engine-size']=cars_df['engine-size'].astype('int64')
low,high=remove_outlier(cars_df['compression-ratio'])
cars_df['compression-ratio']=np.where(cars_df['compression-ratio']>high,high,cars_df['compression-ratio'])
cars_df['compression-ratio']=np.where(cars_df['compression-ratio']<low,low,cars_df['compression-ratio'])
cars_df['compression-ratio']=cars_df['compression-ratio'].astype('int64')
low,high=remove_outlier(cars_df['city-mpg'])
cars_df['city-mpg']=np.where(cars_df['city-mpg']>high,high,cars_df['city-mpg'])
cars_df['city-mpg']=np.where(cars_df['city-mpg']<low,low,cars_df['city-mpg'])
cars_df['city-mpg']=cars_df['city-mpg'].astype('int64')
low,high=remove_outlier(cars_df['highway-mpg'])
cars_df['highway-mpg']=np.where(cars_df['highway-mpg']>high,high,cars_df['highway-mpg'])
cars_df['highway-mpg']=np.where(cars_df['highway-mpg']<low,low,cars_df['highway-mpg'])
cars_df['highway-mpg']=cars_df['highway-mpg'].astype('int64')

In [40]:
cars_dt=dtale.show(cars_df,ignore_duplicate=True)

In [41]:
cars_dt